body {
    margin: 0;
    padding: 0;
}

.sidebar-container {
    display: flex;
    border-right: 20px solid #555;
}

#sidebar {
    width: 20%; /* Adjust the width as needed */
    height: 100%;
    background-color: #333; /* Sidebar background color */
    color: #fff; /* Text color */
    border-right: 1px solid #555; /* Sidebar border */
    transition: transform 0.3s; /* Add a transition for smooth animation */
    transform: translateX(-250px); /* Hide the sidebar by default */
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.sidebar li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.sidebar li a:hover {
    background-color: #555; /* Change the background color on hover */
}

#toggle-sidebar-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 2; 
}

